{% extends "base.html" %}

{% block content %}
<div style="text-align: left; margin-top: 20px;">
    
    <div style="margin-bottom: 30px;">
        <a href="{{ url_for('agregar') }}" style="background-color: #0d6efd; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; margin-right: 15px;">
            ➕ Agregar Nuevo Equipo
        </a>
        
        <a href="{{ url_for('index') }}" style="background-color: #6c757d; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold;">
            ⬅ Volver al Inicio
        </a>
    </div>

    <hr style="margin-bottom: 20px;">

    <h2>Persistencia de Datos con txt, json csv</h2>
    
    <br>

    <h3>Txt</h3>
    <ul style="list-style-type: disc; margin-left: 20px;">
        {% for fila in datos_txt %}
            <li>{{ fila | join(', ') }}</li>
        {% endfor %}
    </ul>

    <br>

    <h3>Json</h3>
    <pre style="font-family: monospace; font-size: 14px;">
{{ datos_json | tojson(indent=4) }}
    </pre>

    <br>

    <h3>Csv</h3>
    <ul style="list-style-type: disc; margin-left: 20px;">
        {% for fila in datos_csv %}
            <li>{{ fila | join(', ') }}</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}